@model WebEscuelaMVC.Models.Aula
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Auto", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.Numero)
        @Html.EditorFor(model => model.Numero)
        @Html.ValidationMessageFor(model => model.Numero)
    </p>

    <p>
        @Html.LabelFor(model => model.tipo)
        @Html.EditorFor(model => model.tipo)
        @Html.ValidationMessageFor(model => model.tipo)
    </p>

 

 

    <input type="Submit" value="Create" />

    @Html.ActionLink("Go to Index", "Index", "Aula")
}